<a id="top"></a>

<!-- header image -->
<div class="site-header-image" id="header" style="background-image: url('/images/meta-image.png'); background-color: #ff8100;"></div>

<!-- nav bar -->
<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <div class="container-fluid px-4 ">
    <a class="navbar-brand" href="/">Junijwi</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbar" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbar">
      <ul class="navbar-nav me-auto">
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
            Worlds
          </a>
          <ul class="dropdown-menu">
            <li><a class="dropdown-item" href="/thesleeperswake"><i class="fa-solid fa-wifi fa-fw"></i> The Sleepers Wake</a></li>
            <li><hr class="dropdown-divider"></li>
            <li><a class="dropdown-item" href="/orrison"><i class="fa-regular fa-circle fa-fw"></i> Orrison (WIP)</a></li>
            <li><hr class="dropdown-divider"></li>
            <li><a class="dropdown-item" target="_blank" href="https://prometheusinitiative.tumblr.com/"><i class="fa-solid fa-tower-broadcast fa-fw"></i> Prometheus Initiative</a></li>
            <li><a class="dropdown-item" target="_blank" href="https://dishtothedeath.tumblr.com/"><i class="fa-solid fa-skull fa-fw"></i> Dish to the Death</a></li>
          </ul>
        </li>
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
            Socials
          </a>
          <ul class="dropdown-menu">
            <li><a class="dropdown-item" target="_blank" href="https://ko-fi.com/junijwi"><i class="fa-solid fa-mug-saucer fa-fw"></i> Ko-Fi</a></li>
            <li><hr class="dropdown-divider"></li>
            <li><a class="dropdown-item" target="_blank" href="https://toyhou.se/junijwi"><i class="fa-solid fa-house fa-fw"></i> Toyhou.se</a></li>
            <li><hr class="dropdown-divider"></li>
            <li><a class="dropdown-item" target="_blank" href="https://twitter.com/junijwi"><i class="fa-brands fa-twitter fa-fw"></i> Junijwi (main)</a></li>
            <li><a class="dropdown-item" target="_blank" href="https://twitter.com/rattusrambles"><i class="fa-brands fa-twitter fa-fw"></i> RattusRambles (oc)</a></li>
            <li><a class="dropdown-item" target="_blank" href="https://twitter.com/rattusrascal"><i class="fa-brands fa-twitter fa-fw"></i> RattusRascal (nsfw)</a></li>
            <li><a class="dropdown-item" target="_blank" href="https://twitter.com/rattusreckless"><i class="fa-brands fa-twitter fa-fw"></i> RattusReckless (private)</a></li>
            <li><hr class="dropdown-divider"></li>
            <li><a class="dropdown-item" target="_blank" href="https://junijwi.tumblr.com/"><i class="fa-brands fa-tumblr fa-fw"></i> Junijwi (art)</a></li>
            <li><a class="dropdown-item" target="_blank" href="https://junirat.tumblr.com/"><i class="fa-brands fa-tumblr fa-fw"></i> Junirat (personal)</a></li>
            <li><hr class="dropdown-divider"></li>
            <li><a class="dropdown-item" target="_blank" href="https://cohost.org/junijwi"><i class="fa-solid fa-egg fa-fw"></i> cohost</a></li>
            <li><a class="dropdown-item" target="_blank" href="https://artfight.net/~junijwi"><i class="fa-solid fa-paintbrush fa-fw"></i> Art Fight</a></li>
            <li><a class="dropdown-item" target="_blank" href="https://www.furaffinity.net/user/junijwi/"><i class="fa-solid fa-paw fa-fw"></i> Fur Affinity</a></li>
          </ul>
        </li>
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
            Crow Council
          </a>
          <ul class="dropdown-menu">
            <li><a class="dropdown-item" target="_blank" href="https://twitter.com/crowcouncil"><i class="fa-brands fa-twitter fa-fw"></i> Twitter</a></li>
            <li><a class="dropdown-item" target="_blank" href="https://crowcouncil.art"><i class="fa-solid fa-crow fa-fw"></i> Store</a></li>
            <li><a class="dropdown-item" target="_blank" href="http://crowcouncil.etsy.com"><i class="fa-brands fa-etsy fa-fw"></i> Etsy</a></li>
            <li><a class="dropdown-item" target="_blank" href="https://ko-fi.com/crowcouncil"><i class="fa-solid fa-mug-saucer fa-fw"></i> Ko-Fi</a></li>
          </ul>
        </li>
      </ul>
      <ul class="navbar-nav ml-auto">
        <li class="nav-item">
          <a class="nav-link" href="mailto:junijwi@crowcouncil.art"><i class="fa-solid fa-envelope fa-fw"></i> junijwi@crowcouncil.art</a>
        </li>
      </ul>
    </div>
  </div>
</nav>